In [1]:
import pandas as pd
import numpy as np
s = pd.Series([1, 3, 6, np.nan, 44, 1])
print(s)

dates = pd.date_range('2016-01-01', periods=6)
print(dates)

# DataFrame定义一个框架,相当于一个二位numpy
# 这里我们用np.random.randn(6, 4)随机生成了一个6行4列的数据
# index为行名称，columns为列名称
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
print(df)

df1 = pd.DataFrame(np.arange(12).reshape(3, 4))
print(df1)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64
DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')
                   a         b         c         d
2016-01-01  0.023917  0.013750 -0.064284 -0.490703
2016-01-02 -0.659381 -0.047173 -0.289594  0.755739
2016-01-03  0.784211  0.059384  0.686632 -1.029406
2016-01-04  0.030916  0.598284 -1.062933 -0.791194
2016-01-05 -0.226325  1.113811 -0.455111  0.296663
2016-01-06  1.914917  0.474525  0.194793 -1.684716
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [2]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index=dates, columns=['A', 'B', 'C', 'D'])
print(df)
# print(df['A'], df.A)# 选择A这一列打印输出
# print(df[0:3])# 选择前三行
# print(df['20130102':'20130104'])# 选择02-04这三行输出

# 以标签名来进行选择

# 输出'20130102'这一行的数据
# print(df.loc['20130102'])

# 输出第三行(从0开始计数)的数据
# print(df.iloc[3])

# 输出第三行,第一列的数据
# print(df.iloc[3, 1])

# 输出第三行到第五行，第一列到第三列的数据
print(df.iloc[3:5, 1:3])

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23
             B   C
2013-01-04  13  14
2013-01-05  17  18

In [3]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [4]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [5]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [6]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [7]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [8]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [9]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [10]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [11]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [12]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'apple', 'pear', 'banana', 'orange'}
{'o', 'r', 'l', 'H', 'W', 'e', 'd', ' '}

In [13]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'melon', 'pear', 'orange', 'banana', 'apple'}
{'melon', 'pear', 'orange', 'banana'}

In [14]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'o', 'm', 'pear', 'orange', 'banana', 'n', 'l', 'apple', 'e'}
{'o', 'm', 'melon', 'pear', 'orange', 'banana', 'n', 'l', 'lemon', 'apple', 'e'}

In [15]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'r', 'c', 'b', 'd', 'a'}
{'m', 'c', 'l', 'z', 'a'}
{'r', 'd', 'b'}
{'r', 'c', 'm', 'l', 'b', 'z', 'd', 'a'}
{'c', 'a'}
{'r', 'm', 'z', 'l', 'd', 'b'}